.logout-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;

  
    h1 {
      margin-bottom: 20px;
    }
  
    button {
      background-color: #d9534f;
      color: #f3f3f3;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .not-logged-in-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;

  
    h1 {
      margin-bottom: 20px;
    }
  }