.scrollable-genre-list {
    max-height: 300px; /* ou la hauteur que vous souhaitez */
    overflow-y: scroll;
    border: 1px solid #ccc; /* pour voir les limites du conteneur */
    padding: 10px;
}

.product-link {
    color: inherit; /* Utilise la couleur de texte héritée */
    text-decoration: none; /* Enlève le soulignement */
}

.product-link:hover {
    color: inherit; /* Couleur au survol */
    text-decoration: none; /* Enlève le soulignement au survol */
}

.product{
    transition: transform .2s; /* durée Animation */
}

.products-list
{
    /* background: linear-gradient(123deg, #1f1e1e 1%, #5c5751 87%); */
    border-radius: 10px;
}

/* .card
 {
    background-color: transparent;
    border: none;
 } */

.product:hover{
    transform: scale(1.1); /* petit effet de zoom au survole*/
}

/* bouton de supression et de modification d'article */
.button-container {
    position: absolute; /* Positionne les boutons de manière absolue à l'intérieur du div */
    bottom: 0;             /* En haut du div */
    right: 0;           /* À droite du div */
    display: flex;      /* Utilise Flexbox pour l'alignement des boutons */

}

.close{
    
    color: red;         /* Couleur de la croix */
    background-color: transparent; /* Fond transparent */
    border: none;       /* Pas de bordure */
    font-size: 40px;    /* Taille de la croix */

}

.close:focus {
    outline: none; /* Supprime le contour lors de la mise au point sur le bouton */
    
}

.modify{
    
    color: blue;         /* Couleur de la croix */
    background-color: transparent; /* Fond transparent */
    border: none;       /* Pas de bordure */
    font-size: 40px;    /* Taille de la croix */

}

.modify:focus {
    outline: none; /* Supprime le contour lors de la mise au point sur le bouton */
    
}

/* Barre Recherche */

.advanced-search {
    display: none; /*Les champs supplémentaires sont cachés par défaut*/
}

.search-bar {
    position: relative;
    max-width: 75%; /* ou la largeur que vous préférez */
    margin: auto;
    padding: 10px;
}

.search-bar input[type="search"] {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-control{
    border-radius: 0.5rem;
}

/* Pour le style du header */

.header-title {
    text-transform: uppercase;
    text-align: center;
}

.header-search{
    /* background: linear-gradient(123deg, #1f1e1e 1%, #5c5751 87%); */
    border-radius: 10px;
}

#monBouton {
    position: fixed; /* ou 'absolute' si vous ne voulez pas qu'il reste en place lors du défilement */
    top: 10px;  /* Espacement par rapport au haut de la page */
    right: 10px; /* Espacement par rapport au côté droit de la page */
    z-index: 100; /* S'assurer que le bouton reste au-dessus des autres éléments */
}

/* détails produit */

/* gallerie d'image*/
.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  
