<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Validation du Panier</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Optionnel : jQuery et Popper.js (certains composants de Bootstrap, comme les modales, les nécessitent) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Feuille de style -->
    <link rel="stylesheet" href="/css/produits_style.css">
    <!-- Script -->
    <script defer src="/js/produits_script.js"></script>
</head>

<body>
    <div th:include="header :: header" class="container mt-2"></div>

    <!-- pour le modal de message -->
    <div th:insert="msg :: msgFragment"></div>

    <!-- Début du corps -->
    <!-- Grille ,le controller invoque le modèle  liste de vente, panier ou historique-->
    <div class="container mt-2">
        <div class="card products-list">
            <div class="card-header">Résumé de la commande</div>
            <div class="card-body">
                <!-- Liste des produits -->
                <!-- Début de la grille des produits -->
                <div class="row">
                    <div th:if="${not #lists.isEmpty(listProduits)}" th:each="p : ${listProduits}"
                        class="col-md-3 mb-3 product">
                        <div th:attr="data-id=${p.produit.id}" class="text-decoration-none product-link">
                            <div th:if="${p != null}" class="card h-100 border-0">
                                <img th:if="${p.produit.imgs != null and not #lists.isEmpty(p.produit.imgs)}"
                                    th:src="@{'/images/' + ${p.produit.imgs.get(0).path}}" alt="Image de couverture"
                                    th:classappend="${p.produit.archived} ? 'masque-div' : ''" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${p.produit.meta.nom}"></h5>
                                    <p class="card-text" th:text="${p.produit.type}"></p>
                                    <h6 class="card-text" th:text="${p.produit.prix} + ' €'"></h6>
                                    <h6 class="card-text"
                                        th:text="${'Sous-Total (x' + p.quantite +') : ' + p.quantite * p.produit.prix + ' €'}">
                                    </h6>
                                    <h7 th:if="${p.commentaire != ''}" th:text="${p.commentaire}"></h7>

                                    <div class="button-container">
                                        <form
                                            th:action="@{/utilisateur/{username}/supprimerPanier(username=${username})}"
                                            method="post">
                                            <input type="hidden" name="produitId" th:value="${p.produit.id}" />
                                            <button type="submit" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>

                                        </form>


                                        <form
                                            th:action="@{/utilisateur/{username}/modifierPanier(username=${username})}"
                                            method="post" id="changeQ">
                                            <input type="hidden" name="produitId" th:value="${p.produit.id}" />
                                            <input type="number" id="quantite" name="nb"
                                                onchange="document.forms['changeQ'].submit()"
                                                th:value="${p.quantite}" />
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${not #lists.isEmpty(listProduits)}">
                        <p>Pas de produit ici</p>
                    </div>
                    <!-- Logique pour nouvelle ligne après chaque 4 produits -->
                </div>
                <!-- Fin de la grille des produits -->
            </div>
            <div class="card-footer"
                th:text="${'Sous-Total (x' + panier.getQuantiteTotal +') : ' + panier.getTotal + ' €'}"></div>
        </div>
    </div>

    <div class="container mt-5">
        <form th:action="@{/utilisateur/{username}/validate(username=${username})}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <!-- Section Adresse de Facturation -->
                    <h4>1. Adresse de Facturation</h4>

                    <div class="form-group">
                        <label for="fullName">Nom Complet</label>
                        <input type="text" class="form-control" name="nom" id="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="address" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Ville</label>
                        <input type="text" class="form-control" name="ville" id="city" required>
                    </div>
                    <div class="form-group">
                        <label for="state">État</label>
                        <select class="form-control" name="pays" id="pays" required>
                            <option>Sélectionnez le pays</option>
                            <option value="fr">🇫🇷 France</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Code Postal</label>
                        <input type="text" class="form-control" name="zip" id="zipCode" required>
                    </div>

                </div>

                <div class="col-md-6">
                    <!-- Section Informations de Carte de Crédit -->
                    <h4>2. Informations de Carte de Crédit</h4>

                    <div class="form-group">
                        <label for="cardName">Nom sur la Carte</label>
                        <input type="text" class="form-control" name="nom_carte" id="cardName" required>
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Numéro de Carte</label>
                        <input type="text" class="form-control" name="numero_carte" id="cardNumber" required>
                    </div>
                    <div class="form-group">
                        <label for="cardCVV">CVV</label>
                        <input type="text" class="form-control" name="cvv_carte" id="cardCVV" required>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="expMonth">Mois d'Expiration</label>
                            <input type="month" class="form-control" name="annee_mois_carte" id="expYearMonth" required>
                            </input>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-center">
                    <button class="btn btn-primary btn-lg">Soumettre mon Achat</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="footer :: footer" class="footer"></div>
</body>

</html>