<!-- detailsProduit.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Détails du Produit</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Optionnel : jQuery et Popper.js (certains composants de Bootstrap, comme les modales, les nécessitent) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Feuille de style -->
    <link rel="stylesheet" href="/css/produits_style.css">
    <!-- Script -->
    <script defer src="/js/produits_script.js"></script>
</head>

<body>
    <div th:include="header :: header" class="container mt-2"></div>

    <!-- pour le modal de message -->
    <div th:insert="msg :: msgFragment"></div>

    <!-- Début du corps -->
    <div class="container mt-2">
        <h1><span th:text="${produit.meta.nom}"></span></h1>
        <h2>Détails du Produit</h2>
        <div th:if="${buyable}">
            <form th:action="@{/utilisateur/{username}/ajouterPanier(username=${username})}" method="post">
                <input type="hidden" name="produitId" th:value="${produit.id}" />
                <button type="submit" class="btn btn-primary">Ajouter au Panier</button>
                <input type="number" name="nbProduit" value="1" min="1" th:max="${produit.nbProduit}" />
                <div><textarea name="commentaire" id="commentaire-articles"
                        placeholder="Quelquonque commentaire concernant la ou les commandes" cols="30"
                        rows="10"></textarea>
                </div>
            </form>
        </div>
        <div th:unless="${buyable}">
            <button type="submit" class="btn btn-secondary" disabled>Ajouter au Panier</button>
            <p style="font-weight: 800; color: rgb(217, 41, 41);">Produit non disponible</p>
        </div>
        <p><b>Nombre disponible :</b><span th:text="${produit.nbProduit}"></span></p>

        <div>
            <p><b>Vendeur :</b> <a
                    th:href="@{/utilisateur/{vendeurUsername}/profile(vendeurUsername=${vendeurUsername})}"
                    th:text="${vendeurUsername}"></a></p>
            <p><b>Description :</b>
            <pre th:text="${produit.description}"></pre>
            </p>
            <p><b>Prix :</b> <span th:text="${produit.prix} + ' €' "></span></p>
            <p><b>Type :</b> <span th:text="${produit.type}"></span></p>

            <ul>
                <li><b>Album :</b> <span th:text="${produit.meta.album}"></span></li>
                <li><b>Artiste :</b> <span th:text="${produit.meta.artiste}"></span></li>
                <li><b>Année :</b> <span th:text="${produit.meta.annee}"></span></li>
                <li><b>Genres :</b> <span th:text="${produit.meta.genres}"></span></li>
            </ul>

            <!-- <div th:if="${!produit.imgs.isEmpty()}">
                <img th:src="@{'/images/' + ${produit.imgs.get(0).path}}" alt="Image de couverture"/>
            </div> -->

            <!-- gallerie d'image -->
            <div th:if="${!produit.imgs.isEmpty()}" id="carouselExampleControls" class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="i, stat : ${produit.imgs}"
                        th:class="${stat.first} ? 'carousel-item active' : 'carousel-item'">
                        <img class="d-block w-100" th:src="@{'/images/' + ${i.path}}" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
    </div>
    <div th:include="footer :: footer" class="footer"></div>
</body>

</html>