<!-- footer thymleaf -->

<footer th:fragment="footer">
    <div class="container text-white pt-2"> 
        <div class="row">
            <!-- Section About -->  
            <div class="col-md-5">
                <h5 class="text-primary">À Propos</h5>
                <p style="text-align:justify">GroovTrade, l'application communautaire qui permet de vendre, d'acheter, et d'échanger des supports
                    musicaux neuf ou d'occasions entre entreprises, particuliers et passionés.</p>
            </div>

            <!-- Section Contact -->
            <div class="col-md-5">
                <h5 class="text-primary">Contact</h5>
                <p>Haron et Changrui</p>
            </div>

        </div>

        <!-- Droits d'auteur -->
        <div class="text-center py-3">
            <p>&copy; 2023 Dans le cadre de l'UE DEVREP. Sorbonne Université Sciences</p>
        </div>
    </div>
</footer>