<!-- header thymleaf -->

<header th:fragment="header">
    <a href="/produits/liste"><h1>Groovtrade</h1></a>
    <div class="card-body">
        <div class="search-bar mt-3">
            <form method="get" th:action="@{/produits/liste}" id="searchForm">
                <!-- <label>Keyword</label> -->
                <input class="form-control form-control-lg" type="search" placeholder="Recherche" name="keyword"
                    aria-label="Keyword" id="input-keyword">
                <button class="btn btn-outline-secondary" type="button" id="advancedSearchToggle" aria-haspopup="true"
                    aria-expanded="false">
                    +
                </button>
                <div class="advanced-search mt-2" id="advancedSearch">
                    <input class="form-control" type="search" placeholder="Artiste" name="artiste" aria-label="Artiste">
                    <input class="form-control mt-2" type="search" placeholder="Titre" name="nom" aria-label="Titre">
                    <!-- attention nom = titre-->
                    <input class="form-control mt-2" type="search" placeholder="Album" name="album" aria-label="Album">
                    <input class="form-control mt-2" type="search" placeholder="Genres" name="genres"
                        aria-label="Genres">
                    <!-- TODO: chercher plusieurs genres-->
                    <!-- années -->
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input class="form-control" type="number" name="annee_inf" placeholder="Année Min.">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="number" name="annee_sup" placeholder="Année Max.">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">🔎</button>
            </form>
        </div>
    </div>
</header>